/* ---------------------------------------------------
   Global
--------------------------------------------------- */
@font-face {
   font-family: 'ReceiptMono';
   src: url('assets/fonts/IosevkaNerdFontPropo-Medium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   margin: 0;
   padding: 0;
   background: rgb(251, 251, 250);
   color: rgb(55, 52, 49);

   font-family: 'ReceiptMono', monospace;
   letter-spacing: 0.5px;
   overflow-x: hidden;
}

/* ---------------------------------------------------
   Layout Wrapper
--------------------------------------------------- */
#layout {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  padding-top: 20px;
  padding-left: 30px;   
  padding-right: 30px;  
  padding-bottom: 20px;

  box-sizing: border-box;
}

/* ---------------------------------------------------
   Headings
--------------------------------------------------- */
#title {
   text-align: center;
   font-size: 15px;
   margin-bottom: 5px;
   color: rgb(55, 52, 49);

   /* Receipt style: no bold, tighter spacing */
   font-weight: normal;
}

#subtitle {
   text-align: center;
   font-size: 12px;
   margin-top: 0;
   margin-bottom: 15px;
   color: rgb(55, 52, 49);
   font-weight: normal;
}

/* ---------------------------------------------------
   Dash Line
--------------------------------------------------- */
.dash-line {
   width: 100%;
   height: 5px;  /* 선 굵기*/

   background-image: repeating-linear-gradient(
      to right,
      rgb(55, 52, 49) 0,
      rgb(55, 52, 49) 150px, /* ← 대시 하나의 길이 */
      transparent 50px,
      transparent 60px       /* ← 간격은 기존 패턴과 비슷하게 유지 */
   );

   /* 위아래 여백 */
   margin-top: 20px;
   margin-bottom: 20px;
   
   /* layout 양쪽 padding 무효화 (full width) */
   margin-left: -30px;
   margin-right: -30px;
}

/* ---------------------------------------------------
   Canvas Holder
--------------------------------------------------- */
#canvas-holder {
   width: 100%;
   display: flex;
   justify-content: center;
   overflow: hidden;     /* 캔버스가 튀어나오는 걸 방지 */
}
