html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: rgb(60,59,56);
  color: rgb(254,251,247);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

canvas {
  display: block;
}
