/* ---------------------------------------------------
   Global
--------------------------------------------------- */
@font-face {
   font-family: 'ReceiptMono';
   src: url('assets/fonts/IosevkaNerdFontPropo-Medium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   margin: 0;
   padding: 0;
   background: rgb(251, 251, 250);
   color: rgb(55, 52, 49);

   font-family: 'ReceiptMono', monospace;
   letter-spacing: 0.5px;

   /* 스크롤 절대 안 생기도록 */
   overflow: hidden;
   height: 100vh;       /* 브라우저 높이 딱 맞음 */
   box-sizing: border-box;
}

/* ---------------------------------------------------
   Layout Wrapper
--------------------------------------------------- */
#layout {
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;

   padding: 20px 30px;
   box-sizing: border-box;
   height: 100%;
   /* 전체 사이트 높이 중 header 영역만 차지 */
   display: flex;
   flex-direction: column;
   height: 100%;
}

/* ---------------------------------------------------
   Headings
--------------------------------------------------- */
#title {
   text-align: center;
   font-size: 15px;
   margin-bottom: 5px;
   color: rgb(55, 52, 49);
   font-weight: normal;
}

#subtitle {
   text-align: center;
   font-size: 12px;
   margin-top: 0;
   margin-bottom: 15px;
   color: rgb(55, 52, 49);
   font-weight: normal;
}

/* ---------------------------------------------------
   Dash Line
--------------------------------------------------- */
.dash-line {
   width: 100%;
   height: 5px;

   background-image: repeating-linear-gradient(
      to right,
      rgb(55, 52, 49) 0,
      rgb(55, 52, 49) 150px,
      transparent 150px,
      transparent 210px
   );

   margin-top: 20px;
   margin-bottom: 20px;
}

/* ---------------------------------------------------
   Canvas Holder
--------------------------------------------------- */
#canvas-holder {
   flex: 1;                  /* layout 안에서 남은 공간 모두 차지 */
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   overflow: hidden;         /* 캔버스는 튀어나오지 않음 */
   position: relative;
}
